<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.ico">
    <link rel="stylesheet" href="/styles/registration.css"/>
</head>
<body>
<div class="reg-form">
    <p>login</p>
    <input id="login-input">
    <p>password</p>
    <input type="password" id="password-input">
    <p>repeat password</p>
    <input type="password" id="second-password-input">
    <button onclick="create_new_user()">Sign In</button>
    <p style="align-self: center">Already have an account? <a href="http://localhost:3456/signin">Sign In</a></p>
</div>
<script src="scripts/signin_signup.js"></script>
</body>
</html>
