<!--  Main view  "/"  -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/topPlayers.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="header">
        <div class="nav">
            <div class="menu__item" id="play">
                <div class="menu__img">
                    <img src="./img/game.png" alt="">
                </div>
                <p>Play</p>
            </div>
            <div class="menu__item" id="stats">
                <div class="menu__img">
                    <img src="./img/user.png" alt="">
                </div>
                <p>Stats</p>
            </div>
            <div class="menu__item is-active" id="best">
                <div class="menu__img">
                    <img src="./img/best_players.png" alt="">
                </div>
                <p>Best Players</p>
            </div>
        </div>
        <div class="logout">
            <div class="menu__item" id="logout">
                <div class="menu__img">
                    <img src="./img/logout.png" alt="">
                </div>
                <p>logout</p>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <h2>~ TOP PLAYERS ~</h2>
    {{#each bestPlayers}}
        <div class="card">
            <p><b>{{this.login}}</b></p>
            <p>Win Rate: {{this.winRate}}%</p>
            <p>Game Count: {{this.totalGames}}</p>
        </div>
    {{/each}}
</main>
<script src="./scripts/index.js"></script>
</body>
</html>